<footer>
  <p>Copyright 2023 | Food Gorilla</p>
  <p class="small">Developed by <span><a target="blank" href="https://www.linkedin.com/in/hafizulhaque97/">Hafizul Haque</a></span></p>
</footer>

</body>
</html>
